@font-face {
  font-family: Pacmanfont;
  src: url(/client/fonts/pacmanfont.ttf);
}

body {
  margin: 0;
  padding: 50px 0 0;
  background: #000;
  font-family: Pacmanfont;
  color: yellow;
  min-width: 310px;
}

img {
  z-index: 2;
  width: 16px;
  margin: 0;
  padding: 0;
}

button {
  margin: 0 20px;
  padding: 4px 10px;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid #dab200;
  background: #fffb00;
  color: #202847;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(122, 122, 122, 1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(122, 122, 122, 1);
  box-shadow: 0px 0px 8px 0px rgba(122, 122, 122, 1);
  outline: 0;
}

canvas {
  display: flex;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  margin: 60px auto 40px;
  display: flex;
  width: fit-content;
  text-align: center;
}

#canv_parent {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  position: relative;
}

/*#btn-start-game {
  top: calc(50% - 20px);
  left: calc(50% - 105px);
}

#btn-toggle-mode {
  bottom: -30px;
}

button:hover {
  -webkit-box-shadow: 0px 0px 13px 0px rgba(122, 122, 122, 1);
  -moz-box-shadow: 0px 0px 13px 0px rgba(122, 122, 122, 1);
  box-shadow: 0px 0px 13px 0px rgba(122, 122, 122, 1);
}

button:active {
  -webkit-box-shadow: 0px 0px 21px 0px rgba(122, 122, 122, 1);
  -moz-box-shadow: 0px 0px 21px 0px rgba(122, 122, 122, 1);
  box-shadow: 0px 0px 21px 0px rgba(122, 122, 122, 1);
}


#lifes {
  height: 16px;
  width: 48px;
  display: flex;
  position: absolute;
  left: 0;
  margin-top: 6px;
}

#score {
  position: absolute;
  right: 0;
  font-size: 20px;
  font-family: Impact;
  text-align: right;
}

#gameOver {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  top: 50%;
  left: calc(50% - 134.5px);
  font-size: 32px;
  color: #9c0000;
  width: fit-content;
  display: none;
  background-color: #000;
}

#win {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  top: 50%;
  left: calc(50% - 134.5px);
  font-size: 32px;
  color: #d6d300;
  width: fit-content;
  display: none;
  background-color: #000;
}*/

*,
::before,
::after {
  box-sizing: border-box;
}
